<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sergei_News::news_content" title="News" module="Sergei_News" sortOrder="50" parent="Magento_Backend::content" resource="Sergei_News::news_content" />
        <add id="Sergei_News::post" title="Posts" module="Sergei_News" sortOrder="0" parent="Sergei_News::news_content" action="news/post" resource="Sergei_News::post"/>
    </menu>
</config>